{% extends "base.html" %}

{% block content %}
<div class="backlog-container">
    <h2>
        Reports for 
        {% if reports %}
        Reporting Period: {{ reports[0].reporting_period.start_month }} {{ reports[0].reporting_period.start_year }} - {{ reports[0].reporting_period.end_month }} {{ reports[0].reporting_period.end_year }}
        {% else %}
        Select a Reporting Period
        {% endif %}
    </h2>

    <!-- Dropdown form to select a reporting period -->
    <form method="POST" action="{{ url_for('view_reports') }}">
        <select name="reporting_period" class="report_select">
            {% for period in reporting_periods %}
                <option value="{{ period.id }}" 
                        {% if period.id == selected_period|int %}selected{% endif %}>
                        {{ period.start_month }} {{ period.start_year }} - {{ period.end_month }} {{ period.end_year }}
                </option>
            {% endfor %}
        </select>
        <input class="global-btn" type="submit" value="View Reports">
    </form>

    <!-- Table to display reports for the selected period -->
    <div id="cover" class="cover"></div>
    <table class="task-container">
        <thead>
            <tr>
                <th></th>
                <th>Type 
                    <br>(Council Facility / Local Business)
                    <div class="sort-icon">
                        <i class="fas fa-sort" onclick="sortTable(1, 'text')"></i>
                    </div>
                </th>
                <th>Name of Business / Facility 
                    <div class="sort-icon">
                        <i class="fas fa-sort" onclick="sortTable(2, 'text')"></i>
                    </div>
                </th>
                <th>Total GHG Savings
                    <br>(tCo2e / yr)
                    <div class="sort-icon">
                        <i class="fas fa-sort" onclick="sortTable(3, 'number')"></i>
                    </div>
                </th>
                <th>Solar PV GHG Savings 
                    <br>(tCo2e / yr)
                    <div class="sort-icon">
                        <i class="fas fa-sort" onclick="sortTable(4, 'number')"></i>
                    </div>
                </th>
                <th>Other GHG Savings 
                    <br>(tCo2e / yr)
                    <div class="sort-icon">
                        <i class="fas fa-sort" onclick="sortTable(5, 'number')"></i>
                    </div>
                </th>
                <th>Cost Savings 
                    <br>($ / yr)
                    <div class="sort-icon">
                        <i class="fas fa-sort" onclick="sortTable(6, 'number')"></i>
                    </div>
                </th>
            </tr>
        </thead>  
                     
        <tbody>
            {% for report in reports %}
            <tr>
                <td><span class="delete-report" data-report-id="{{ report.id }}"><i class="fas fa-trash"></i></span></td>
                <td>
                    <select class="report-type-dropdown" data-report-id="{{ report.id }}">
                        <option value="Council Facility" {% if report.type.title() == "Council Facility" %}selected{% endif %}>Council Facility</option>
                        <option value="Local Business" {% if report.type.title() == "Local Business" %}selected{% endif %}>Local Business</option>
                    </select>
                </td>                
                <td>{{ report.business_or_facility.name }}</td>
                <td contenteditable="true" data-type="total_emissions" data-report-id="{{ report.id }}">{{ '{:,.2f}'.format(report.total_emissions) }}</td>
                <td contenteditable="true" data-type="co2_emissions_solar" data-report-id="{{ report.id }}">{{ '{:,.2f}'.format(report.co2_emissions_solar) }}</td>
                <td data-type="other_emissions">{{ '{:,.2f}'.format(report.other_emissions) }}</td>
                <td contenteditable="true" data-type="cost_savings" data-report-id="{{ report.id }}">${{ '{:,.2f}'.format(report.cost_savings) }}</td>
            </tr>
            {% endfor %}

            <tr class="totals-row">
                <td colspan="2">Council Facility Totals:</td>
                <td>{{ council_facility_count }}</td>
                <td>{{ '{:,.2f}'.format(cf_total_ghg_savings) }}</td>
                <td>{{ '{:,.2f}'.format(cf_total_solar_savings) }}</td>
                <td>{{ '{:,.2f}'.format(cf_total_ghg_savings - cf_total_solar_savings) }}</td>
                <td>${{ '{:,.2f}'.format(cf_total_cost_savings) }}</td>
            </tr>
            <tr class="totals-row">
                <td colspan="2">Local Business Totals:</td>
                <td>{{ local_business_count }}</td>
                <td>{{ '{:,.2f}'.format(lb_total_ghg_savings) }}</td>
                <td>{{ '{:,.2f}'.format(lb_total_solar_savings) }}</td>
                <td>{{ '{:,.2f}'.format(lb_total_ghg_savings - lb_total_solar_savings) }}</td>
                <td>${{ '{:,.2f}'.format(lb_total_cost_savings) }}</td>
            </tr>
            <tr class="totals-row">
                <td colspan="2">Overall Totals:</td>
                <td>{{ local_business_count + council_facility_count}}</td>
                <td>{{ '{:,.2f}'.format(total_ghg_savings) }}</td>
                <td>{{ '{:,.2f}'.format(total_solar_savings) }}</td>
                <td>{{ '{:,.2f}'.format(total_ghg_savings - total_solar_savings) }}</td>
                <td>${{ '{:,.2f}'.format(total_cost_savings) }}</td>
            </tr>
            
            <tr>
                <td colspan="7" style="text-align: center;">
                    <a href="{{ url_for('add_business_report') }}" class="add-report">
                        <i class="fas fa-plus"></i>
                    </a>
                </td>
            </tr> 
        </tbody>
    </table>
</div>
<script>
    // Get the table headers and cover element
    const headers = document.querySelector('.task-container th');
    const cover = document.getElementById('cover');

    // Listen for the scroll event
    window.addEventListener('scroll', () => {
        // Get the headers' distance from the top of the viewport
        const headersTop = headers.getBoundingClientRect().top;

        // If the headers are at the top of the viewport (or past it),
        // show the cover. Otherwise, hide it.
        if (headersTop <= 20) {
            cover.style.display = 'block';
        } else {
            cover.style.display = 'none';
        }
    });
</script>
<script>
    function sortTable(n, type) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.querySelector(".task-container");
        switching = true;
        dir = "asc"; 
        
        while (switching) {
            switching = false;
            rows = table.rows;
            
            for (i = 1; i < (rows.length - 5); i++) { // -5 to keep summary rows at the bottom
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];

                if(type === 'text') {
                    var xVal = n === 1 ? x.getElementsByTagName('select')[0].value.toLowerCase() : x.innerHTML.toLowerCase();
                    var yVal = n === 1 ? y.getElementsByTagName('select')[0].value.toLowerCase() : y.innerHTML.toLowerCase();

                    if(dir == "asc") {
                        if(xVal > yVal) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if(dir == "desc") {
                        if(xVal < yVal) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                } else if(type === 'number') {
                    var xVal = parseFloat(x.innerHTML.replace(/[$,]/g, '')); // remove $ and commas, and convert to number
                    var yVal = parseFloat(y.innerHTML.replace(/[$,]/g, '')); 

                    if(dir == "asc") {
                        if(xVal > yVal) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if(dir == "desc") {
                        if(xVal < yVal) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
            }
            
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount ++; 
            } else {
                if(switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
<script src="{{ url_for('static', filename='business_script.js') }}"></script>
{% endblock %}
