/* Global Styles */
* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #F8F9FA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.login-container {
    background: #fff;
    width: 650px;
    margin: 65px auto;
    padding: 35px;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
    color: #3498db;
    text-align: center;
    margin-bottom: 25px;
}

.login-container div {
    margin-bottom: 15px;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    text-transform: uppercase;
}

/* Ensuring consistent styling for inputs and dropdowns */
.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="number"],
.login-container select {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 1px solid #747474;
    border-radius: 4px;
    outline: none;
    transition: all .2s;
    margin-bottom: 15px;  /* Vertical spacing */
    color:black;
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus,
.login-container input[type="number"]:focus,
.login-container select:focus {
    border-color: #222;
}

select option {
    font-weight: 600;
    color: black;   
}


/* Styling for both .btn and .btn-submit */
.login-container .btn,
.login-container .btn-submit {
    width: 100%;
    border: none;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    background: #2d3b55;
    color: #fff;
    border-radius: 4px;
    outline: none;
    transition: all .3s;
}

.login-container .btn:hover,
.login-container .btn-submit:hover {
    background: #3c4d6d;
}

.register-link {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    text-align: center;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}
.header h1 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 5px;
}

.header {
    background: #0f3063;
    align-items: center;
    color: #ecf0f1;
    padding: 7px 0;
    margin: 0;
    justify-content: space-between;
    border-bottom: 4px solid #f7a30a;
}

.header nav a {
    float: right;
    padding: 8px 15px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    margin: 0 5px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 4px solid transparent;
    transition: border-color 0.3s ease;  /* Smooth transition effect */
}

.header nav a:hover {
    border-bottom: 4px solid #418fde;
}

.header nav a:focus {
    outline: none;
    border-bottom: 3px solid #808080;
}

.header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: inline-block;
}

a {
    transition: background-color 0.3s, color 0.3s;
}

nav.fill a:after {
  text-align: left;
  content: '';
  margin: 0;
  opacity: 0;
  color: #000;
}



/* Home Page Styles */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    width: 80%;  /* Reduce the width */
    margin: 0 auto;  /* Centering it */
}

.full-width-container {
    width: 100%; /* makes it stretch the full width of .home-container */
    background: #fff;
    border: 1px solid #ccc; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.backlogs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.welcome-text {
    font-size: 24px;
    font-weight: 600;
    color: #2d4660;
    margin-bottom: 20px; /* Space between welcome text and backlogs */
    text-align: center; /* Centers the welcome text */
}

.backlog-container {
    flex: 0 0 48%;
    background: #FFFFFF;
    width: 95%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: center;
    width: calc(100% - 40px);
}

.backlog-container h2 {
    text-align: center;
    font-size: 28px;
    color: #2d3b55;
    margin-bottom: 20px; /* Space between title and the list */
}

.backlog-container ul {
    list-style-type: none; /* Removes the default bullets from the list */
    padding: 0;
}

.backlog-container li {
    padding: 10px 0; /* Adds some space between the backlogs */
    text-align: center; /* Centers the backlogs */
}

.backlog-container a {
    color: #2d4660;
    text-decoration: none;
    font-size: 18px; /* Makes the backlog link slightly bigger */
    transition: color 0.3s; 
}

.backlog-container a:hover {
    color: #3c4d6d;
}

.user-info {
    margin-top: 20px;
    text-align: center;
    color: #747474;
}

.backlog-container button.btn {
    display: block; /* Makes the button take the full width of its parent container */
    margin: 10px auto; /* This will center the button */
}

.backlog-container button.btn {
    width: auto; /* Override the width for the button to fit content */
    border: none;
    padding: 12px 24px; /* Added some horizontal padding */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    background: #2d3b55;
    color: #fff;
    border-radius: 4px;
    outline: none;
    transition: all .3s;
}

.backlog-container button.btn:hover {
    background: #3c4d6d;
}

.task-container table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

.task-container th, .task-container td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.task-container button.btn {
    margin-top: 10px;
}

.task-container th {
    background-color: #f2f2f2;  /* Gives headers a light gray background */
    position: sticky;
    top: 20px;
    z-index: 10;
}

.cover {
    background-color: white; /* Match the header background color */
    border-bottom: 1px solid #ccc;
    height: 21px;
    position: sticky;
    top: 0;
    z-index: 15; /* Make sure this is lower than the z-index of the headers */
    display: none; /* Hidden initially */
}

/* If they are dropdowns, style them similar to the login-container dropdown */
.task-container select {
    font-size: 16px;
    width: 100%; 
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 1px solid #747474;
    border-radius: 4px;
    outline: none;
    transition: all .2s;
    background: #fff;
}

.task-container {
    width: 100%;
    border-collapse: collapse;
}

.task-container select:focus {
    border-color: #222;
}

td:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.edit-icon {
    display: none;
    margin-left: 5px;
}

td:hover .display {
    background-image: url('pencil-solid.svg');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px; /* adjust as needed */
}


[contenteditable="true"]:hover {
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: text;
}

[contenteditable="true"]:focus {
    background-color: #e6e6e6;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

.sort-icon {
    position: absolute;
    bottom: 8px;
    right: 8px;
    cursor: pointer;
    color: black; /* Subtle color for the icon */
    font-size: 20px; /* Adjust the size as needed */
}

th {
    position: relative;
}

.sort-icon:hover {
    color: #555; /* Slightly darker color on hover */
}
.display-value {
    display: none;
}

.edit {
    display: block;
}

.global-btn {
    display: inline-block; 
    margin: 10px 0;
    width: auto; 
    border: none;
    padding: 12px 24px; /* Adjust the vertical (12px) and horizontal (24px) padding as needed */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    background: #2d3b55;
    color: #fff; /* Text color set to white */
    border-radius: 4px;
    outline: none;
    transition: all .3s;
    text-align: center; /* Text alignment set to center */
}

.global-btn:hover {
    background: #3c4d6d;
}

.add-task-container {
    text-align: center;     /* Centers the content horizontally */
    margin-bottom: 20px;    /* Gives some space between the button and the table */
}

.global-btn:hover, a.global-btn:hover {
    background: #3c4d6d;
    color: #fff; /* Ensuring text stays white on hover */
}

.list-btn, a.list-btn{
    background-color: #e9ecef;
    color: #212529;
    border: 1px solid #ced4da;
    padding: 8px 12px; /* Reduced padding for smaller button size */
    font-size: 14px; /* Reduced font-size for smaller text */
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.list-btn:hover, a.list-btn:hover {
    background: #5d8d70;  /* Darker shade on hover */
    color: #fff; /* Ensuring text stays white on hover */
}

.global-btn, a.global-btn {
    color: #fff;
}

.global-btn:hover, a.global-btn:hover {
    color: #fff;  /* Ensuring text stays white on hover */
}

.task {
    margin-bottom: 16px;  /* Adjust the size as you see fit */
}

.report_select {
    font-size: 16px;
    width: 22%; 
    padding: 12px 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 1px solid #747474;
    border-radius: 4px;
    outline: none;
    transition: all .2s;
    background: #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.delete-report i {
    color: red;            /* Color of the trash icon */
    cursor: pointer;       /* Make it look clickable */
    font-size: 20px;       /* Size of the icon */
}

.add-report {
    cursor: pointer;
    color: #007bff; /* or any other color you prefer */
}
.add-report:hover {
    color: #0056b3; /* A darker shade for hover effect */
}

.graphs-container {
    display: flex;           /* Make it a flex container */
    flex-wrap: wrap;         /* If items don't fit on one line, move to the next line */
    justify-content: center; /* Center items horizontally */
    align-items: center;     /* Center items vertically */
}

.graph {
    flex: 0 1 calc(50% - 10px); /* Each graph will try to take up roughly half of the container's width minus 10px for spacing */
    margin: 5px;              /* Some space around each graph */
    max-width: 100%;          /* Ensure it doesn't go beyond the container width */
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    max-width: 200px; /* Or some value that works for you */
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/* Maintain global-btn styling but override with specific colours */
.global-btn.add-reporting, .global-btn.add-business {
    background-color: #4CAF50; /* Green indicating 'add' */
    color: #fff; /* White text for contrast */
}

.global-btn.remove-reporting {
    background-color: #f44336; /* Red indicating 'remove' */
    color: #fff; /* White text for contrast */
}

.global-btn.download-excel {
    background-color: #217346; /* A green similar to Excel's logo */
    color: #fff; /* White text for contrast */
}

.global-btn.download-word {
    background-color: #2B579A; /* A blue similar to Word's logo */
    color: #fff; /* White text for contrast */
}

/* Add hover effects to maintain usability */
.global-btn:hover {
    opacity: 0.8;
}

.backlog-container select {
    font-size: 16px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 1px solid #747474;
    border-radius: 4px;
    outline: none;
    transition: all .2s;
}

.backlog-container select:focus {
    border-color: #222;
}

#indexPage .backlog-container {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    animation: fadeInUp 0.7s ease-in-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.backlog1 {
    background-color: #e6f7ff;
}

.backlog-task {
    background-color: #e6f7ff;
}

.backlog2 {
    background-color: #fff2e6;
}

.backlog3 {
    background-color: #e6f4e6;
}

.backlog4 {
    background-color: #f9e6ff;
}

#indexPage .backlog-container:hover {
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

#indexPage .global-btn:hover, input[type="submit"].global-btn:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.global-btn-disabled, input[type="submit"].global-btn:disabled {
    background: rgb(170, 170, 170);
    cursor: not-allowed;
    border-color: rgb(170, 170, 170); 
}


.backlog1 .global-btn, .backlog1 input[type="submit"].global-btn, .add_backlog_task {
    background: #007bb5;
    border-color: #007bb5;
}

.backlog1 .global-btn:hover, .backlog1 input[type="submit"].global-btn:hover, .add_backlog_task:hover {
    background: #005f87;
    color: #e6f7ff;
    border-color: #005f87;
}

.backlog2 .global-btn, .backlog2 input[type="submit"].global-btn, .create-sprint, .delete-sprint {
    background: #e67300;
    border-color: #e67300;
}

.backlog2 .global-btn:hover, .backlog2 input[type="submit"].global-btn:hover, .create-sprint:hover, .delete-sprint:hover {
    background: #b35900;
    color: #fff2e6;
    border-color: #b35900;
}

.backlog3 .global-btn, .backlog3 input[type="submit"].global-btn {
    background: #28a745;
    border-color: #28a745;
}

.backlog3 .global-btn:hover, .backlog3 input[type="submit"].global-btn:hover {
    background: #218838;
    color: #e6f4e6;
    border-color: #218838;
}

.backlog4 .global-btn, .backlog4 input[type="submit"].global-btn, .team .btn {
    background: #6f42c1;
    border-color: #6f42c1;
}

.backlog4 .global-btn:hover, .backlog4 input[type="submit"].global-btn:hover, .team .btn:hover {
    background: #5a3d8e;
    color: #f9e6ff;
    border-color: #5a3d8e;
}

.delete-data i {
    color: red;
    cursor: pointer;
    font-size: 20px;
}

.back-button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0; 
    position: relative; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
}

.back-button:hover {
    background-color: #ddd;
    cursor: pointer;
}

.highlighted {
    background-color: yellow;
}

.data-table-container {
    flex: 1; /* Allows the container to grow and shrink */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    font-size: 18px;
    text-align: left;
    flex-grow: 1;
}
.data-table th,
.data-table td {
    padding: 12px 15px;
}
.data-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.data-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* Simplified Heading */
.simple-heading {
    font-size: 28px;
    color: #080808;
    text-align: center;
    padding: 15px 0;
    border-bottom: 2px solid #b80000;
    margin-bottom: 15px;
}

/* Styling for ul */
ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 20px;
}

li {
    padding: 3px 0;
}

.graph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    max-width: 400px;  /* Adjust this value as needed */
    width: 100%;
    height: 500px;    /* Adjust this value as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 100%;
    height: 100%;
}

.chart-max-width {
    max-width: 800px;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

select {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #aaa;
}

button[type="submit"] {
    padding: 8px 16px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.centered-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;  /* You can adjust this value for vertical spacing */
}

.centered-form form {
    display: flex;  /* This makes the children of form (i.e., the select and button) align horizontally */
    align-items: center;  /* Vertically align the button and select box */
    gap: 10px;  /* Provides a little spacing between the select box and the button */
}
