{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <h2>Add Business or Facility & Emission Report</h2>
    <form method="post">

        <label for="business_or_facility">Select Business/Facility:</label>
        <select id="business_or_facility" name="business_or_facility">
            <option value="new">Add New Business / Council Facility</option>
            {% for business in businesses_or_facilities %}
                <option value="{{ business.id }}">{{ business.name }}</option>
            {% endfor %}
        </select>

        <div id="newBusinessFields">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="type">Type:</label>
            <select id="type" name="type">
                <option value="local business">Local Business</option>
                <option value="council facility">Council Facility</option>
            </select>
        </div>

        <label for="total_emissions">Total GHG Savings (tCo2e):</label>
        <input type="text" id="total_emissions" name="total_emissions" required pattern="^\d*(\.\d{0,2})?$" title="Please enter a valid number">
        
        <label for="co2_emissions_solar">Solar PV GHG Savings (tCo2e / yr):</label>
        <input type="text" id="co2_emissions_solar" name="co2_emissions_solar" required pattern="^\d*(\.\d{0,2})?$" title="Please enter a valid number">
        
        <label for="cost_savings">Cost Savings ($ / yr):</label>
        <input type="text" id="cost_savings" name="cost_savings" required pattern="^\d*(\.\d{0,2})?$" title="Please enter a valid number">
        

        <label for="reporting_period">Reporting Period:</label>
        <select id="reporting_period" name="reporting_period">
            {% for period in reporting_periods %}
                <option value="{{ period.id }}">{{ period.start_month }} {{ period.start_year }} - {{ period.end_month }} {{ period.end_year }}</option>
            {% endfor %}
        </select>
        
        <button class="btn" type="submit">Add Business & Report</button>
    </form>

    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <p id="errorMsg">{{ error_msg }}</p>
        </div>
    </div>
</form>
</div>
{% if show_error_modal %}
<div class="show-error-modal"></div>
{% endif %}
{% endblock %}
