<!DOCTYPE html>
<html>

<head>
    <title>City of Kingston CEERP Data Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
    <div class="header">
        <nav class="fill">
            <h1>City of Kingston CEERP Data Dashboard</h1>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('view_reports') }}">View Reports</a>
        </nav>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var backButton = document.createElement('a');
        backButton.innerHTML = '<i class="fas fa-arrow-left"></i> Back';
        backButton.classList.add('back-button');

        // Modify the href attribute based on the current endpoint
        {% if request.endpoint == 'business_index' %}
            backButton.href = '{{ url_for('index') }}';
        {% elif request.endpoint in ['create_reporting_period', 'modify_reporting_period', 'remove_reporting_period', 'add_business_report', 'view_reports'] %}
            backButton.href = '{{ url_for('business_index') }}';
        {% elif request.endpoint == 'esd_index' %}
            backButton.href = '{{ url_for('index') }}';
        {% elif request.endpoint in ['enter_emission_factors_data', 'enter_energy_rating_data', 'view_energy_rating_data', 'view_energy_rating_data_with_id'] %}
            backButton.href = '{{ url_for('esd_index') }}';
        {% elif request.endpoint == 'ev_index' %}
            backButton.href = '{{ url_for('index') }}';
        {% elif request.endpoint in ['upload_google_insights', 'google_insights_summary', 'clear_google_insights', 'upload_vista', 'vista_summary', 'clear_vista', 'upload_evie', 'filtered_data'] %}
            backButton.href = '{{ url_for('ev_index') }}';
        {% endif %}

        // Append the back button below the nav bar
        document.querySelector('.header').after(backButton);
        
    });
</script>

{% block content %}{% endblock %}