{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <h2>Create Reporting Period</h2>
    <form method="post">

        <label for="start_month">Start Month:</label>
        <select id="start_month" name="start_month">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March" selected>March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June" selected>June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September" selected>September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December" selected>December</option>
        </select>

        <label for="start_year">Start Year:</label>
        <input type="text" id="start_year" name="start_year" required>

        <label for="end_month">End Month:</label>
        <select id="end_month" name="end_month">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March" selected>March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June" selected>June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September" selected>September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December" selected>December</option>
        </select>

        <label for="end_year">End Year:</label>
        <input type="text" id="end_year" name="end_year" required>
        
        <button class="btn" type="submit">Add Reporting Period</button>
    </form>
</div>
{% endblock %}
