{% extends "base.html" %}

{% block content %}
<div class="home-container" id="indexPage">
    <div class="welcome-text">
        Welcome to the CEERP Data Dashboard!
    </div>
    <div class="backlogs">

        <div class="backlog-container backlog1">
            <h2>Future Proof Business and Industry Data</h2>
            <a href="{{ url_for('business_index') }}" class="global-btn index">Business and Industry</a>
        </div>
        
        <div class="backlog-container backlog2">
            <h2>Low Carbon Living Data</h2>
            <a href="{{ url_for('esd_index') }}" class="global-btn index">Low Carbon Living</a>
        </div>
    </div>
    <div class="backlogs">
        <div class="backlog-container backlog3">
            <h2>Transition to Sustainable Transport Data</h2>
            <a href="{{ url_for('ev_index') }}" class="global-btn index">Transition to Sustainable Transport</a>
        </div>
</div>
{% endblock %}