{% extends "base.html" %}

{% block content %}
<div class="backlog-container">
    <h2>
        Reports for 
        {% if reports %}
        Reporting Period: {{ reports[0].reporting_period.start_month }} {{ reports[0].reporting_period.start_year }} - {{ reports[0].reporting_period.end_month }} {{ reports[0].reporting_period.end_year }}
        {% else %}
        Select a Reporting Period
        {% endif %}
    </h2>

    <!-- Dropdown form to select a reporting period -->
    <form method="POST" action="{{ url_for('view_reports') }}">
        <select name="reporting_period" class="report_select">
            {% for period in reporting_periods %}
                <option value="{{ period.id }}" 
                        {% if period.id == selected_period|int %}selected{% endif %}>
                        {{ period.start_month }} {{ period.start_year }} - {{ period.end_month }} {{ period.end_year }}
                </option>
            {% endfor %}
        </select>
        <input class="global-btn" type="submit" value="View Reports">
    </form>

    <!-- Table to display reports for the selected period -->
    <table class="task-container">
        <thead>
            <tr>
                <th></th>
                <th>Type 
                    <br>(Council Facility / Local Business)</th>
                <th>Name of Business / Facility</th>
                <th>Total GHG Savings
                    <br>(tonnes / yr)</th>
                <th>Solar PV GHG Savings 
                    <br>(tonnes / yr)</th>
                <th>Other GHG Savings 
                    <br>(tonnes / yr)</th>
                <th>Cost Savings 
                    <br>($ / yr)</th>
            </tr>
        </thead>        
        <tbody>
            {% for report in reports %}
            <tr>
                <td><span class="delete-report" data-report-id="{{ report.id }}"><i class="fas fa-trash"></i></span></td>
                <td>
                    <select class="report-type-dropdown" data-report-id="{{ report.id }}">
                        <option value="Council Facility" {% if report.type.title() == "Council Facility" %}selected{% endif %}>Council Facility</option>
                        <option value="Local Business" {% if report.type.title() == "Local Business" %}selected{% endif %}>Local Business</option>
                    </select>
                </td>                
                <td>{{ report.business_or_facility.name }}</td>
                <td contenteditable="true" data-type="total_emissions" data-report-id="{{ report.id }}">{{ '{:,.2f}'.format(report.total_emissions) }}</td>
                <td contenteditable="true" data-type="co2_emissions_solar" data-report-id="{{ report.id }}">{{ '{:,.2f}'.format(report.co2_emissions_solar) }}</td>
                <td>{{ '{:,.2f}'.format(report.total_emissions - report.co2_emissions_solar) }}</td>                
                <td contenteditable="true" data-type="cost_savings" data-report-id="{{ report.id }}">${{ '{:,.2f}'.format(report.cost_savings) }}</td>
            </tr>
            {% endfor %}     

            <tr>
                <td colspan="7" style="text-align: center;">
                    <a href="{{ url_for('add_business_report') }}" class="add-report">
                        <i class="fas fa-plus"></i>
                    </a>
                </td>
            </tr> 
        </tbody>
    </table>
</div>
{% endblock %}

