{% extends "base.html" %}

{% block content %}
<div class="home-container" id="evIndexPage">
    <div class="welcome-text">
        Welcome to the EV Data Dashboard!
    </div>
    <div class="backlogs">

        <div class="backlog-container backlog1 backlog-google-insights">
            <h2>Google Insights Explorer Data</h2>
        
            <!-- Button to upload data -->
            <form action="{{ url_for('upload_google_insights') }}" method="POST" enctype="multipart/form-data">
                <input type="file" name="file">
                <button type="submit" class="global-btn">Upload CSV</button>
            </form>
        
            <!-- Data summary -->
            <a href="{{ url_for('google_insights_summary') }}" class="global-btn">Data Summary</a>

            <a href="{{ url_for('clear_google_insights') }}" class="global-btn">Clear Data</a>
            
            <!-- <form action="{{ url_for('clear_google_insights') }}" method="POST">
                <button type="submit" class="global-btn">Clear Data</button>
            </form>             -->
        </div>       
        <div class="backlog-container backlog2">
            <h2>VISTA Data</h2>
            <form action="{{ url_for('upload_vista') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <button type="submit" class="global-btn">Upload CSV</button>
            </form>

            <!-- Data summary -->
            <a href="{{ url_for('vista_summary') }}" class="global-btn">Data Summary</a>

            <a href="{{ url_for('clear_vista') }}" class="global-btn">Clear Data</a>

            <!-- <form action="{{ url_for('clear_vista') }}" method="POST">
                <button type="submit" class="global-btn">Clear Data</button>
            </form>            -->
        </div> 
    </div>
    <div class="backlogs">
        <div class="backlog-container backlog3">
            <h2>Evie Data</h2>
            <form action="{{ url_for('upload_evie') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept=".csv">
                <input type="submit" value="Upload CSV" class="global-btn">
            </form>
        </div>
    </div>
</div>
{% endblock %}
